<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="__CONTROLLER__/index"><img src="__PUBLIC__/job/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">Otis    yang</h5>

            <!--自定义邮件功能模板-->
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-hdd-o"></i>
                    <span>邮件系统</span>
                </a>
                <ul class="sub">
                    <li><a  href="__MODULE__/Email/sendMail"  class="to_iframe" target="iframe">发送邮件</a></li>
                    <li><a  href="__MODULE__/Email/recBox"    class="to_iframe" target="iframe" >收件箱</a></li>
                    <li><a  href="__MODULE__/Email/sendBox"   class="to_iframe" target="iframe">发件箱</a></li>
                </ul>
            </li>

            <!--自定义小说功能模板-->
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>小说网站</span>
                </a>
                <ul class="sub">
                    <li><a  href="__MODULE__/Story/index" class="" target="iframe">小说首页</a></li>
                    <li><a  href="__MODULE__/Story/add" class="" target="iframe">添加小说</a></li>
                    <li><a  href="__MODULE__/Story/addItem" target="iframe">添加章节</a></li>
                    <li><a  href="__MODULE__/Story/manager" target="iframe">管理小说</a></li>
                </ul>
            </li>

            <!--自定义音乐功能模板-->
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-music"></i>
                    <span>音乐网站</span>
                </a>
                <ul class="sub">
                    <li><a  href="__MODULE__/Music/index"  target="iframe" class="">首页展示</a></li>
                    <li><a  href="__MODULE__/Music/add" target="iframe">添加音乐</a></li>
                    <li><a  href="__MODULE__/Music/edit" target="iframe">管理音乐</a></li>
                </ul>
            </li>

            <!--自定义作品欣赏功能模板-->
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-flag"></i>
                    <span>作品欣赏</span>
                </a>
                <ul class="sub">
                    <li><a  href="__MODULE__/Opus/flash" target="iframe" class="">flash欣赏</a></li>
                    <li><a  href="__MODULE__/Opus/ps" target="iframe" class="">ps欣赏</a></li>

                </ul>
            </li>

            <!--web在线聊天工具-->
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-ban"></i>
                    <span>web在线聊天</span>
                </a>
                <ul class="sub">
                    <li><a  href="__MODULE__/WebChat/index" target="iframe" class="">开始聊天</a></li>


                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-desktop"></i>
                    <span>UI Elements</span>
                </a>
                <ul class="sub">
                    <li><a  href="__CONTROLLER__/general" name="iframe">General</a></li>
                    <li><a  href="__CONTROLLER__/buttons">Buttons</a></li>
                    <li><a  href="__CONTROLLER__/panels">Panels</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>Components</span>
                </a>
                <ul class="sub">
                    <li><a  href="__CONTROLLER__/calendar">Calendar</a></li>
                    <li><a  href="__CONTROLLER__/gallery">Gallery</a></li>
                    <li><a  href="__CONTROLLER__/todo_list">Todo List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>Extra Pages</span>
                </a>
                <ul class="sub">
                    <li><a  href="__CONTROLLER__/blank">Blank Page</a></li>
                    <li><a  href="__CONTROLLER__/login">Login</a></li>
                    <li><a  href="__CONTROLLER__/lock_screen">Lock Screen</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>Forms</span>
                </a>
                <ul class="sub">
                    <li><a  href="__CONTROLLER__/form_component">Form Components</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-th"></i>
                    <span>Data Tables</span>
                </a>
                <ul class="sub">
                    <li><a  href="__CONTROLLER__/basic_table">Basic Table</a></li>
                    <li><a  href="__CONTROLLER__/responsive_table">Responsive Table</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Charts</span>
                </a>
                <ul class="sub">
                    <li><a  href="__CONTROLLER__/morris">Morris</a></li>
                    <li><a  href="__CONTROLLER__/chartjs">Chartjs</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
</body>
</html>