<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线聊天管理后台</title>
    <link href="__PUBLIC__/job/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/job/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/job/js/bootstrap.min.js"></script>
    <style>
      
    </style>
    <script>
         
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h3 class="panel-title btn btn-info disabled">web在线聊天记录管理后台</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>序号</th>
                          <th>用户名</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="data" id="vol" key="k">
                         <tr>
                          <td>{$k}</td>
                          <td>{$vol.username}</td>
                          <td>
                            <a href="__CONTROLLER__/userContent/id/{$vol.id}/name/{$vol.username}">查看</a>
                          </td>
                        </tr>
                      </volist>               
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>