<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线聊天</title>
    <link href="__PUBLIC__/job/css/bootstrap.css" rel="stylesheet">
    <script src="__PUBLIC__/job/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/job/js/bootstrap.min.js"></script>
    <style>
       .list-group-item span{
            margin-top:15px;
       }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
           <div class="content">
            <ul class="list-group">
                <li class="list-group-item">
                <span class="text-danger">聊天对象--聊天时间！</span><br/>
                <span class="text-info ">这是聊天内容！</span>
                </li>
                 <li class="list-group-item text-right">
                <span class="text-danger">聊天对象--聊天时间！</span><br/>
                <span class="text-info ">这是聊天内容！</span>
                </li>
                 <li class="list-group-item">
                <span class="text-danger">聊天对象--聊天时间！</span><br/>
                <span class="text-info ">这是聊天内容！</span>
                </li>
                 <li class="list-group-item text-right">
                <span class="text-danger">聊天对象--聊天时间！</span><br/>
                <span class="text-info ">这是聊天内容！</span>
                </li>
                 <li class="list-group-item">
                <span class="text-danger">聊天对象--聊天时间！</span><br/>
                <span class="text-info ">这是聊天内容！</span>
                </li>
                 <li class="list-group-item text-right">
                <span class="text-danger">聊天对象--聊天时间！</span><br/>
                <span class="text-info ">这是聊天内容！</span>
                </li>
            </ul>
                
           </div>
        </div>
    </div>
</body>
</html>